<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>dubs-test</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <main>
        <div class="textarea-container">
            <label for="numbers">Numbers</label>
            <textarea id="numbers" cols="40" rows="5"></textarea>
        </div>
        <button id="submit">Submit</button>
        <div id="result"></div>
    </main>



    <script th:inline="javascript">
        /*<![CDATA[*/

        globals = {
            MAX_NUMBERS_COUNT: /*[[${MAX_NUMBERS_COUNT}]]*/0,
            MIN_NUMBER: /*[[${MIN_NUMBER}]]*/0,
            MAX_NUMBER: /*[[${MAX_NUMBER}]]*/0
        };

        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/libs/jquery-3.2.0.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/index.main.js}" ></script>
</body>
</html>